<div class="footer-container">
  <div class="footer-centered">
    <p class="logo">PAINTSTORE</p>
    <p>
      A place created for traditional artists, where they can gain feedback,
      inspiration and advice and meet people with similar interests.
    </p>
    <p>Application is still in production. See the code:</p>
    <p>
      <i class="icon-github-circled"></i
      ><a href="https://github.com/wojtek-rak/PaintStore"
        >github.com/wojtek-rak/PaintStore</a
      >
    </p>
    <p class="rights">© 2019 PaintStore. All rights reserved.</p>
  </div>
</div>
