<div class="footer-container">
  <div class="footer-centered">
    <span class="logo">PAINTSTORE</span>
    <p>
      A place created for traditional artists, where they can gain feedback, inspiration and advice and meet people
      with similar interests.
    </p>
    <p>Created by</p>
    <a href="https://github.com/wjankowska">github.com/wjankowska</a>
    <a href="https://github.com/wojtek-rak">github.com/wojtek-rak</a>
    <span class="rights"> © 2018 PaintStore. All rights reserved. </span>
  </div>
</div>