.check {
  margin-bottom: 18px;
  cursor: pointer;
  position: relative;
  display: flex;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
  svg {
    width: 30px;
    position: relative;
    z-index: 1;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #c8ccd4;
    stroke-width: 1.5;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
  }
  path {
    stroke-dasharray: 60;
    stroke-dashoffset: 0;
  }
  polyline {
    stroke-dasharray: 22;
    stroke-dashoffset: 66;
  }
  &:hover {
    svg {
      stroke: #4285f4;
    }
  }
}

#cbx:checked + .check {
  svg {
    stroke: #4285f4;
    path {
      stroke-dashoffset: 60;
      transition: all 0.3s linear;
    }
    polyline {
      stroke-dashoffset: 42;
      transition: all 0.2s linear;
      transition-delay: 0.15s;
    }
  }
}

.input-description {
  margin-left: 10px;
  color: #383838;
}
