<div class="m-header">
  <input class="m-input" type="text" placeholder="Wyszukaj wiadomości"/>
  <h1>Wiadomości</h1>
</div>
<div class="messagesComponent">

  <div class="left-bar">
    <ul>
      <a href="">
        <li>
          <span class="avatar" style="background-img:url('')"></span>
          <div class="info">
            <span class="name">Ania</span><span class="date">
                                24.04.1022</span>
            <span class="subtitle">Hej :) losowe zdanie losowe zdanie losowe zdanie losowe zdanie losowe zdanie</span>
          </div>
        </li>
      </a>
      <a href="">
        <li>
          <span class="avatar" style="background-img:url('')"></span>
          <div class="info">
            <span class="name">Ania</span><span class="date">
                                24.04.1022</span>
            <span class="subtitle">Hej :) losowe zdanie losowe zdanie losowe zdanie losowe zdanie losowe zdanie</span>
          </div>
        </li>
      </a>
    </ul>

  </div>
  <div class="message">


    <div class="frame">
      <ul id="messages"></ul>
      <div class="input">
        <div class="text text-r text-input">
          <input class="mytext" placeholder="Type a message"/>
        </div>
      </div>
    </div>
  </div>
</div>
