// $black: #333;

// .comment-title {
//   color: #787878;
//   font-size: 14px;
// }

// .comment-content {
//   width: 100%;

//   textarea {
//     margin-top: 4px;
//   }

//   a {
//     color: $black;
//     text-decoration: none;
//     // font-weight: bold;

//     &:hover {
//       color: #474747;
//     }
//   }

//   p:nth-of-type(2) {
//     margin-top: 12px;
//   }

//   .content-secondary {
//     margin-left: 24px;
//   }

//   h4,
//   .content-secondary {
//     display: inline-block;
//   }
// }

.comment {
  display: flex;
  padding: 18px 0;
  border-bottom: 1px solid #dadada;

  &:last-of-type {
    border-bottom: 0;
  }
}

.avatar-container a {
  width: 40px;
  height: 40px;
}

.image-author {
  margin-right: 15px;
}

.comment-content {
  flex-grow: 1;
  position: relative;
}

app-likes {
  position: absolute;
  right: 0;
}
