<div class="label-wrapper">
  <span
    *ngIf="data.editable === true && editing === false"
    class="edit-info"
    (click)="startEditing()"
    >Click to edit password</span
  >

  <label
    [ngClass]="editing === true || data.editable !== true ? '' : 'hidden'"
    class="input-description"
    >{{ data.label }}</label
  >
  <input
    placeholder="{{ data.placeholder }}"
    [ngClass]="{
      hidden: editing !== true && data.editable === true,
      'inputs-highlighted': data.editable === true
    }"
    type="password"
    #input
    (keyup)="
      change({
        new: this.input.value,
        confirm: this.passwordConfirm.value
      })
    "
  />
  <!-- password confirmation -->
  <label
    [ngClass]="editing === true || data.editable !== true ? '' : 'hidden'"
    class="input-description"
    >Confirm {{ data.label }}</label
  >
  <input
    [ngClass]="{
      hidden: editing !== true && data.editable === true,
      'inputs-highlighted': data.editable === true
    }"
    type="password"
    #passwordConfirm
    (keyup)="
      change({
        new: this.input.value,
        confirm: this.passwordConfirm.value
      })
    "
  />
  <span
    *ngIf="data.editable === true && editing === true"
    class="reject"
    (click)="stopEditing()"
    >X Cancel</span
  >
  <!-- id="title" -->
  <div class="warning" *ngIf="this.validateMessage !== ''">
    {{ validateMessage }}
  </div>
</div>
