.edit-info {
  margin-bottom: 12px;
  font-size: 13px;
  color: #707070;
  // border-bottom: 1px solid #707070;
  cursor: pointer;
  font-weight: bold;
  display: block;
}

.inputs-highlighted {
  background: #ebebeb;
  border: 1px solid gainsboro;
}

.reject {
  margin-top: -10px;
  margin-bottom: 18px;
  font-size: 13px;
  color: #707070;
  // border-bottom: 1px solid #707070;
  cursor: pointer;
  font-weight: bold;
  display: block;
}
