<form #signIn="ngForm">
  <div class="label-wrapper">
    <label class="input-description" for="username">Username</label>
    <input type="text" id="username" name="username" ngModel />
  </div>
  <div class="label-wrapper">
    <label class="input-description" for="password">Password</label>
    <input type="password" id="password" name="password" ngModel />
  </div>
  <div class="label-wrapper">
    <label class="input-description" for="confirm-password"
      >Confirm password</label
    >
    <input
      type="password"
      id="confirm-password"
      name="confirm-password"
      ngModel
    />
  </div>
  <div class="label-wrapper">
    <label class="input-description" for="email">E-mail</label>
    <input type="text" id="email" name="email" ngModel />
  </div>
  <button class="submit-button button-colored">JOIN</button>
</form>
