<form [formGroup]="form" (ngSubmit)="onFormUpload(form)">
  <input-email
    [data]="{
      label: 'Email'
    }"
    formControlName="email"
  ></input-email>

  <confirm-password
    [data]="{
      label: 'New password'
    }"
    formControlName="passwords"
  ></confirm-password>
  <input-password
    [data]="{
      label: 'Your current password'
    }"
    formControlName="password"
  ></input-password>

  <button area-label="edit profile" class="button-colored" type="submit">
    Submit
  </button>
</form>
