<ng-container *ngIf="images">
  <span
    class="centered-description"
    *ngIf="images.length === 0 && !loading && !fail"
    >There is no images yet.</span
  ></ng-container
>
<div class="loading" *ngIf="loading === true" class="centered-description">
  <span>Loading <i class="icon-spin4 animate-spin"></i></span>
</div>

<div class="fail" *ngIf="fail === true">
  An error occured. Try again later.
</div>

<div class="image-wrapper {{ classes }}">
  <div *ngFor="let image of images" class="image-element">
    <app-image-element
      [image]="image"
      (emitter)="delete($event)"
    ></app-image-element>
  </div>
</div>

<app-confirmation-message #msg></app-confirmation-message>
