<div class="photo-header">
  <div class="author-avatar">
    <a routerLink="/user/{{ image.userId }}">
      <img
        src="{{
          image.userOwnerImgLink === null || image.userOwnerImgLink === ''
            ? '../../assets/img/avatar.png'
            : image.userOwnerImgLink
        }}"
      />
    </a>
  </div>
  <div class="basic-info">
    <h3>
      <ng-container *ngIf="!titleEditing"
        >{{ image.title
        }}<span
          *ngIf="image.userId === loggedId"
          (click)="editTitle()"
          class="edit-delete-icon"
          ><i class="icon-pencil"></i></span
      ></ng-container>
      <ng-container
        *ngIf="titleEditing && image.title !== '' && image.userId === loggedId"
      >
        <form [formGroup]="titleForm" (ngSubmit)="approveTitle(titleForm)">
          <input-text
            [data]="{
              label: ''
            }"
            formControlName="title"
          ></input-text>
          <div class="edit-elements">
            <button class="discard" type="button" (click)="discardTitle()">
              Discard
            </button>
            <button class="submit" type="submit">Submit</button>
          </div>
        </form>
      </ng-container>
    </h3>
    <span
      >Added {{ image.creationDate }} by
      <a class="author-link" routerLink="/user/{{ image.userId }}">{{
        image.userOwnerName
      }}</a></span
    >
  </div>
  <div class="likes">
    <span (click)="showLiking()" class="like-description"
      >{{ image.likeCount }} likes
    </span>
    <span
      class="like"
      [ngClass]="image.liked === true ? 'liked' : null"
      *ngIf="loggedIn"
    >
      <span *ngIf="!image.liked" (click)="photoLike()">
        Like
      </span>

      <span (click)="photoUnlike()" *ngIf="image.liked">Liked!</span>
    </span>
  </div>
</div>

<div class="centered">
  <div class="hero-img"><img src="{{ image.imgLink }}" /></div>
</div>

<div class="photo centered">
  <div class="photo-content">
    <div class="comments-wrapper">
      <div class="all-comments">
        <div class="add-comment" *ngIf="loggedIn">
          <form
            #commentUpload="ngForm"
            (ngSubmit)="onCommentUpload(commentUpload)"
          >
            <div class="flex-wrapper">
              <div class="image-author">
                <div class="avatar-container">
                  <a class="avatar-link" routerLink="">
                    <img
                      src="{{
                        imgLink === null || imgLink === ''
                          ? '../../assets/img/avatar.png'
                          : imgLink
                      }}"
                    />
                  </a>
                </div>
              </div>
              <textarea id="text" name="text" ngModel></textarea>
            </div>
            <div class="warning" *ngIf="this.formValid === false">
              Comment must contains at least 2 letters.
            </div>
            <div class="button-wrapper">
              <span *ngIf="loading" class="loading"
                ><i class="icon-spin4 animate-spin"></i
              ></span>
              <button [disabled]="loading" type="submit" class="button-colored">
                Send
              </button>
            </div>
          </form>
        </div>

        <p class="comment-title">Comments ({{ image.commentsCount }})</p>

        <div class="comments-group">
          <ng-container *ngIf="comments">
            <div *ngFor="let comment of comments" class="comment">
              <div class="image-author">
                <div class="avatar-container">
                  <a
                    class="avatar-link"
                    routerLink="/user/{{ comment.userId }}"
                  >
                    <img
                      src="{{
                        comment.userOwnerImgLink === null ||
                        comment.userOwnerImgLink === ''
                          ? '../../assets/img/avatar.png'
                          : comment.userOwnerImgLink
                      }}"
                    />
                  </a>
                </div>
              </div>
              <div class="comment-content">
                <div class="header">
                  <h4 class="author">
                    <a routerLink="/user/{{ comment.userId }}">{{
                      comment.userName
                    }}</a>
                  </h4>
                  <p class="content-secondary header-info">
                    {{ comment.creationDate }}
                  </p>
                  <span *ngIf="comment.edited" class="header-info"
                    >(edited)</span
                  >
                  <span
                    class="edit-delete-icon header-info"
                    (click)="removeComment(comment.id)"
                    *ngIf="comment.userId === loggedId"
                  >
                    <i class="icon-trash"></i>
                  </span>
                  <span
                    class="edit-delete-icon header-info"
                    (click)="editComment(comment)"
                    *ngIf="comment.userId === loggedId"
                  >
                    <i class="icon-pencil"></i>
                  </span>
                  <span class="likes header-info">
                    <span class="link" (click)="commentShowLiked(comment.id)">
                      {{ comment.likeCount }}
                      {{ comment.likeCount === 1 ? "like" : "likes" }}
                    </span>
                  </span>
                  <span
                    class="like"
                    [ngClass]="comment.liked === true ? 'liked' : null"
                    *ngIf="loggedIn"
                  >
                    <span (click)="commentLike(comment)" *ngIf="!comment.liked">
                      Like
                    </span>
                    <span (click)="commentUnlike(comment)" *ngIf="comment.liked"
                      >Liked!</span
                    >
                  </span>
                </div>
                <p *ngIf="!comment.isEditing">{{ comment.content }}</p>
                <div *ngIf="comment.isEditing">
                  <form
                    #editComment="ngForm"
                    (ngSubmit)="sendEditComment(editComment, comment)"
                  >
                    <textarea
                      name="value"
                      ngModel="{{ comment.content }}"
                    ></textarea>
                    <div class="edit-elements">
                      <div class="warning" *ngIf="comment.editValid === false">
                        Comment must contains at least 2 letters.
                      </div>
                      <button class="discard" (click)="discard(comment)">
                        Discard
                      </button>
                      <button class="submit" type="submit">Edit</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="description">
        <p class="desc-title">
          Description
          <span
            class="edit-delete-icon"
            (click)="editDescription()"
            *ngIf="image.userId === loggedId"
            ><i class="icon-pencil"></i
          ></span>
        </p>
        <ng-container *ngIf="descriptionEditing && image.userId === loggedId">
          <form
            [formGroup]="descriptionForm"
            (ngSubmit)="approveDescription(descriptionForm)"
          >
            <input-textarea
              [data]="{
                label: ''
              }"
              formControlName="description"
            ></input-textarea>
            <div class="edit-elements">
              <button
                class="discard"
                type="button"
                (click)="discardDescription()"
              >
                Discard
              </button>
              <button class="submit" type="submit">Submit</button>
            </div>
          </form>
        </ng-container>

        <span class="description-content" *ngIf="!descriptionEditing">
          <ng-container *ngIf="image.description !== ''">{{
            image.description
          }}</ng-container>
          <ng-container *ngIf="image.description === ''"
            ><i>This image has no description yet.</i></ng-container
          >
        </span>
        <p class="desc-title">
          Tags
          <span
            class="edit-delete-icon"
            (click)="editTags()"
            *ngIf="image.userId === loggedId"
            ><i class="icon-pencil"></i
          ></span>
        </p>
        <ng-container *ngIf="tagsEditing && image.userId === loggedId">
          <form [formGroup]="tagsForm" (ngSubmit)="approveTags(tagsForm)">
            <tag-input
              [maxItems]="'10'"
              [addOnPaste]="'true'"
              [animationDuration]="{ enter: '0ms', leave: '0ms' }"
              [placeholder]="'Press Enter to add item'"
              [separatorKeyCodes]="'[32, 13]'"
              formControlName="tags"
            ></tag-input>
            <div class="edit-elements">
              <button class="discard" type="button" (click)="discardTags()">
                Discard
              </button>
              <button class="submit" type="submit">Submit</button>
            </div>
          </form>
        </ng-container>
        <ng-container *ngIf="!tagsEditing">
          <span *ngFor="let tag of image.tagsList" class="tag">{{ tag }} </span>
          <i *ngIf="image.tagsList.length === 0">This image has no tags yet.</i>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<app-confirmation-message #msg></app-confirmation-message>
<app-agree-label
  #confirmLabel
  (emitter)="confirm()"
  [message]="'You are going to delete this comment. Are you sure?'"
></app-agree-label>
<app-information-label #label></app-information-label>
