.image-wrapper {
  grid-template-columns: 300px 300px 300px;
}

@media only screen and (max-width: 1350px) {
  .image-wrapper {
    grid-template-columns: 300px 300px;
  }
}

@media only screen and (max-width: 1000px) {
  .image-wrapper {
    width: 630px;
  }
}

@media only screen and (max-width: 670px) {
  .image-wrapper {
    width: 300px;
  }

  .image-wrapper {
    grid-template-columns: 300px;
  }
}
