@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700");
html,
body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif; // jakas inna czcionka naglowkowa
  font-weight: 500;
  word-break: break-word;
}

div,
span,
b,
a {
  word-break: break-word;
}

h2 {
  font-size: 25px;
}

h4 {
  font-size: 18px;
}

textarea {
  resize: none;
}

a {
  color: #333;

  &:hover {
    color: #494949;
  }
}

.hidden {
  display: none;
}

li.activeLi a {
  color: #bb8866;
  font-weight: 600;
  letter-spacing: 0.2px;
}

input.invalid,
input:focus.invalid {
  border-bottom: 2px solid #dd6a6a;
}

.content-secondary {
  color: $color-light-grey;

  a {
    display: inline-block;
  }
}

.flex-wrapper {
  display: flex;
}

.common-wrapper {
  max-width: 1450px;
  box-sizing: border-box;
  margin: 0 auto;
}

.centered {
  max-width: 1290px;
  margin: 0 auto;
  padding-top: 70px;
  display: inline-block;
}

.button-colored {
  margin-top: 12px;
  cursor: pointer;
  border: none;
  background: #bb8866;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 8px 16px;
}

// .button-submit {
//   color: white;
//   margin-top: 0;
//   margin-top: 12px;
//   cursor: pointer;
//   border: none;
//   background: #bb8866;
//   color: #fff;
//   text-transform: uppercase;
//   font-size: 16px;
//   font-family: "Roboto", sans-serif;
//   box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2);
//   border-radius: 5px;
//   padding: 8px 16px;
// }

.alert {
  display: block;
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  display: none;

  button {
    background: none;
    border: none;
    font-weight: 600;
    color: inherit;
    cursor: pointer;
  }
}

.alert-success {
  background: #dff2bf;
  color: #4f8a10;
}

.alert-warning {
  background: #ffbaba;
  color: #d8000c;
}

.avatar-container {
  flex-grow: 0;
  flex-shrink: 0;

  a {
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
  }

  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
}

// image
.image-wrapper {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  margin: 0 auto;
  grid-gap: 30px;
}

.image-wrapper.smaller {
  grid-template-columns: 300px 300px 300px;
}

@media only screen and (max-width: 1350px) {
  .image-wrapper.smaller {
    grid-template-columns: 300px 300px;
  }
}

@media only screen and (max-width: 1000px) {
  .image-wrapper.smaller {
    width: 630px;
  }
}

@media only screen and (max-width: 670px) {
  .image-wrapper.smaller {
    width: 300px;
  }

  .image-wrapper.smaller {
    grid-template-columns: 300px;
  }
}

@media only screen and (max-width: 340px) {
  .image-wrapper.smaller {
    grid-template-columns: calc(100vw - 50px);
  }
}

.image-element-wrapper {
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.image-element {
  .avatar-container {
    width: 22px;
    height: 22px;
    margin-right: 8px;
  }

  .image-cropped {
    width: 100%;
    height: 250px;

    img {
      width: 100%;
      height: 100%;
      border-radius: 3px 3px 0 0;
      object-fit: cover;
    }

    a {
      width: 100%;
      height: 100%;
      display: inline-block;
    }
  }
  .image-info {
    font-weight: 400;
    text-align: left;
    padding: 10px 15px;

    h3 {
      font-weight: 400;
      display: flex;
      align-items: baseline;

      a {
        flex-grow: 1;
        min-width: 0;
        display: block;
        word-break: break-word;
      }

      span {
        flex-grow: 0;
        flex-shrink: 0;
        margin-left: 6px;
        font-size: 13px;
        color: #a2a0a0;
        font-family: "Roboto", sans-serif;
      }

      i {
        color: #bababa;
        margin-left: -3px;
      }
    }

    // .image-author {
    //   font-size: 0.9rem;

    //   a {
    //     color: #707070;
    //   }
    // }
  }

  .image-author {
    margin-top: 4px;
    font-size: 14px;
    display: flex;
    align-items: center;

    a {
      color: #707070;
      min-width: 0;
      display: block;
      word-break: break-word;
    }
  }
}

// ---- FORMS ----
form .warning {
  margin-bottom: 3px;
  margin-top: -18px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #dd6a6a;
}

textarea,
input,
select {
  border: 0;
  border-bottom: 2px solid #efefef;
  box-sizing: border-box;
  outline: 0;
}

textarea {
  border: 2px solid #efefef;
}
.label-wrapper {
  display: block;

  label {
    display: block;
  }

  label.hidden {
    display: none;
  }
  // select {
  //   flex-grow: 1;
  // }
}

input,
textarea,
select,
option {
  color: #444;
}

.input-description,
input,
textarea,
select,
button,
option {
  font-family: "Roboto", sans-serif;
}

input,
textarea {
  padding: 5px 2px;
}
input,
textarea,
select {
  width: 100%;
  margin-bottom: 18px;
  border: 2px solid #efefef;
  transition: 0.2s;
  border-radius: 1px;

  &:focus {
    border-bottom: 2px solid #2196f3;
    // box-shadow: 0 0 2px 2px #2196f3;
  }
}

// .file-label:focus,

select {
  width: 100%;
}

.input-description {
  margin-bottom: 6px;
  font-size: 13px;
  color: $color-grey;
}

form .button-colored {
  margin: 20px 0 0;
}

.button-colored {
  padding: 10px 20px;
  border-radius: 20px;
}

.file-label {
  box-sizing: border-box;
  width: 100%;
  border: 2px dashed #efefef;
  display: block;
  cursor: pointer;

  .label-wrapper {
    position: relative;
    display: block;
    top: 50%;
    transform: translateY(-50%);
  }
}

.label-content {
  color: #747474;
  text-align: center;
  font-size: 16px;
}

.label-element {
  display: block;
}

.message {
  display: block;
  margin-top: 5px;
}

.filename {
  border: 1px solid #747474;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

// UPLOAD SECTION
$color-grey: #707070;

.upload-centered {
  background: #fff;
  max-width: 1000px;
  border-radius: 3px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
  padding: 30px 40px;
  margin: 40px auto;

  .svg-wrapper {
    width: 99.5px;
    display: block;
    height: 61px;
    position: relative;

    margin: 0 auto;
    svg {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .file-label {
    margin-top: 6px;
    height: calc(100% - 22px);
    transition: 0.2s;
    word-break: break-all;

    .warning {
      text-align: center;
    }
  }

  .file-label.is-dragover {
    background: #ddd;

    .svg-icon {
      path,
      line,
      polyline {
        stroke: #868686;
      }
    }
  }

  .svg-icon {
    path,
    line,
    polyline {
      transition: 0.2s;
      stroke: #a3a3a3;
    }
  }

  @keyframes showAnimation {
    0% {
      stroke-dashoffset: -300;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }

  @keyframes showReverse {
    0% {
      stroke-dashoffset: 300;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }

  @keyframes hideAnimation {
    100% {
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dashoffset: 300;
    }
  }

  .svg-icon {
    path,
    line,
    polyline {
      stroke-dashoffset: 0;
      stroke-dasharray: 300;
      animation-duration: 0.6s;
      animation-delay: 0s;
      animation-fill-mode: forwards;
    }
  }

  .hidden {
    path,
    line,
    polyline {
      stroke-dashoffset: 300;
    }
  }

  .svg-fail.start-animation {
    .line1 {
      stroke-dashoffset: 300;
      animation-delay: 0.2s;
    }

    .line2 {
      stroke-dashoffset: 300;
      animation-delay: 0.1s;
    }
  }

  .svg-fail.end-animation {
    .line2 {
      stroke-dashoffset: 0;
      animation-delay: 0.1s;
    }
  }

  .svg-success.start-animation {
    .line2 {
      stroke-dashoffset: 300;
      animation-delay: 0.2s;
    }
  }

  .svg-success.end-animation {
    .line2 {
      stroke-dashoffset: 0;
      animation-delay: 0.2s;
    }
  }

  .svg-upload.start-animation {
    path,
    line,
    polyline {
      animation-duration: 1s;
      stroke-dashoffset: 300;
      animation-delay: 0.2s;
    }
  }

  .start-animation {
    path,
    line,
    polyline {
      // stroke-dashoffset: -300;
      animation-name: showAnimation;
    }
  }

  .end-animation {
    path,
    line,
    polyline {
      // stroke-dashoffset: 0;
      animation-name: hideAnimation;
    }
  }

  h2 {
    margin-bottom: 30px;
  }

  .image-file {
    height: 100%;
    .file-input {
      display: none;
    }
  }

  .flex-wrapper {
    justify-content: space-between;
  }

  .image-description {
    width: calc(50% - 15px);
  }

  .image-description,
  .image-file {
    input,
    textarea {
      display: block;
      width: 100%;
    }
  }

  .file-label:focus,
  .outline:focus {
    outline: 0;
  }

  .file-label:focus .outline {
    border: 2px solid #2196f3;
  }

  .outline {
    transition: 0.3s;
    border: 2px solid transparent;
    display: block;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    padding: 0 20px;
    box-sizing: border-box;
    overflow: hidden;
    margin: -2px 0 0 -2px;
    display: block;
  }

  .button-colored {
    transition: 0.2s;
  }

  .button-colored:hover {
    outline: none;
    background: #a17e67;
  }
}

.loading {
  // display: block;
  // height: 40px;
  // margin-right: 10px;

  img {
    margin-top: -90px;
  }
}

// tags
tag-input {
  margin-bottom: 18px;
}

.warning.summary-warning {
  margin-top: 0;
  margin-bottom: -15px;
}

.centered {
  display: inline-block;
  margin: 0 auto;
}
.container {
  text-align: center;
}

@media only screen and (max-width: 1449px) {
  .image-wrapper {
    grid-template-columns: 300px 300px 300px;
  }
}

@media only screen and (max-width: 1039px) {
  .image-wrapper {
    grid-template-columns: 300px 300px;
  }
}

@media only screen and (max-width: 699px) {
  .image-wrapper {
    grid-template-columns: 300px;
  }
}

.centered-block {
  display: block;
}

// delete edit icon

.edit-delete-icon {
  cursor: pointer;
  background: transparent;
  /* padding: 5px 10px; */
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  transition-duration: 0.2s;
}

.edit-delete-icon:hover {
  background: #eaeaea;
}

// loading icon
.icon-spin4 {
  color: #a5a5a5;
  margin: 0 15px;
}

// loading elements
.loading-elements {
}
