$white: #f2f3f4;
$black: #333;
$blackSubtitle: #4c4c4c;
$color-grey: #707070;
$color-light-grey: #787878;
$avatarSize: 40px;
$padding: 20px;
$radius: 5px;
@mixin border-radius($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin box-shadow($shadow) {
  box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
}

@mixin transition($time, $type, $property) {
  transition: $time $type $property;
  -moz-transition: $time $type $property;
  -webkit-transition: $time $type $property;
}

@mixin background() {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.centered {
  margin-bottom: 70px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  padding-top: 0;
  margin: 0 auto;
  display: block;
  background: #fff;
}

.button-colored {
  margin-top: 0;
}

.image-author {
  flex-shrink: 0;
  flex-grow: 0;
  margin-right: 12px;
}

.avatar-container {
  width: 40px;
  height: 40px;
}

.hero-img {
  background: #fff;

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 700px;
  }
}

.photo-centered {
  margin: 0 auto;
  margin: 20px auto;
  padding: 20px;
}

.button-wrapper {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

a {
  color: #bb8866;
  text-decoration: none;
}

.author-link {
  font-weight: 600;
}

a:hover {
  color: #a57a5e;
}

.photo-header {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  margin-top: 70px;
  padding: 30px 20px;

  .likes {
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    align-items: center;
  }

  .like-description {
    margin-right: 20px;
    color: #a0a0a0;
    cursor: pointer;
  }

  .like {
    border: 1px solid #dbdbdb;
    width: 73px;

    span {
      padding: 12px 15px;
    }
  }

  .liked {
    border: 1px solid #bcbcbc;
    background: #cecece;
  }
}

.author-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
  flex-grow: 0;
  flex-shrink: 0;

  a {
    width: 100%;
    height: 100%;
    display: block;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.basic-info {
  line-height: 1.5;
  flex-grow: 1;

  h3 {
    font-size: 25px;
    display: flex;
    align-items: center;

    .edit-delete-icon {
      margin: 0 0 0 8px;
      color: #a0a0a0;
      font-size: 18px;
    }

    .edit-delete-icon:hover {
      background: #d6d6d6;
    }
  }

  span {
    font-size: 14px;
    color: #9a9a9a;
  }
}

// .photo-header {
//   margin: 20px 0;

//   * {
//     margin-top: 8px;
//   }

//   .content-secondary {
//     font-size: 13px;
//   }

//   .photo-tags {
//     font-size: 14px;
//     display: inline-block;
//     margin: 24px 16px 18px 0;
//     text-transform: lowercase;
//     a {
//       color: #787878;
//       margin-left: 4px;
//     }

//     span:nth-of-type(1) {
//       font-weight: 600;
//     }
//   }
// }

.comment-title {
  color: #787878;
  font-size: 14px;
}

.description-content {
  margin-bottom: 10px;
  display: inline-block;
}

.comment-content {
  width: 100%;

  textarea {
    margin-top: 4px;
  }

  a {
    color: $black;
    text-decoration: none;
    // font-weight: bold;

    &:hover {
      color: #474747;
    }
  }

  p:nth-of-type(2) {
    margin-top: 12px;
  }

  .content-secondary {
    margin-left: 24px;
  }

  h4,
  .content-secondary {
    display: inline-block;
  }
}

.comments-wrapper {
  display: flex;
  font-size: 16px;

  .all-comments {
    flex-grow: 1;

    .button-colored {
      font-size: 14px;
      padding: 10px 20px;
    }
  }

  .description {
    flex-grow: 0;
    flex-shrink: 0;
    width: 260px;
    margin-left: 40px;
    color: #5a5a5a;
    font-size: 14px;
    line-height: 1.5;

    span:first-of-type {
      // display: block;
    }

    .tag {
      display: inline-block;
      margin-right: 10px;
    }
  }
}

.desc-title {
  display: flex;
  font-weight: bold;

  .edit-delete-icon {
    margin: -1px 0 0 5px;
    font-weight: 400;
  }
}

.comment {
  display: flex;
  padding: 18px 0;
  border-bottom: 1px solid #dadada;

  &:last-of-type {
    border-bottom: 0;
  }
}

.likes {
  color: #787878;
}

.photo-title {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;

  h2,
  p,
  span {
    margin-top: 0;
  }
}

.photo {
  padding-top: 30px;
  margin-bottom: 70px;
  color: $black;
  overflow: hidden;
  min-height: auto;
  margin-top: 0;
  box-shadow: none;
  background: none;

  .photo-content {
    padding: 10px $padding;
    text-align: justify;

    .add-comment {
      margin: 5px 0;

      .avatar {
        display: inline-block;
        width: $avatarSize;
        height: $avatarSize;
        @include border-radius($avatarSize * 0.5);
        margin-right: 15px;
        margin-bottom: 60px-$avatarSize;
        background-color: grey;
      }

      textarea {
        border: 1px solid #dadada;
        width: calc(100% - 55px);
        height: 60px;
        resize: none;
        @include border-radius(3px);
        background: none;
      }

      textarea:focus {
        border-bottom: 2px solid #2196f3;
      }
    }
  }

  img {
    width: 100%;
  }
}

.header {
  display: flex;
  align-items: baseline;
  & > * {
    flex-grow: 0;
    flex-shrink: 0;
  }

  .header-info.likes {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
  }

  .like {
    font-size: 14px;
    width: 55px;

    span {
      padding: 5px 10px;
    }
  }

  .liked {
    background: #cecece;
    border-color: #bcbcbc;
  }

  .header-info.content-secondary {
    margin: 0 12px;
  }

  .link {
    cursor: pointer;
  }

  .header-info {
    color: #8b8b8b;
    display: inline-block;
    font-size: 14px;
    margin: 0 5px 0 0;
  }

  .header-info.edit-delete-icon {
    display: flex;
    margin: 0;
    color: #cccccc;

    &:hover {
      background: #f0f0f0;
    }
  }
}

.like {
  background: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  color: #787878;
  cursor: pointer;
  transition: 0.1s ease;
  text-align: center;

  span {
    display: block;
  }
}

.edit-elements {
  margin-top: -10px;

  button {
    color: #787878;
    cursor: pointer;
  }

  .submit {
    background: #f1f1f1;
    border: 1px solid #e6e6e6;
    margin-left: 10px;
    border-radius: 2px;
    padding: 4px 12px;
  }

  .discard {
    padding: 0 5px 0 0;
    background: none;
    border: 0;
    font-size: 14px;
  }
}

@media screen and (max-width: 1500px) {
  .centered {
    box-shadow: none;
    width: 100%;
    max-width: 100%;
    padding: 0 100px 50px 100px;
    background: #fff;
    box-sizing: border-box;
    margin: 0;
  }

  .comment {
    border-color: #ececec;
  }
}

@media only screen and (max-width: 1120px) {
  .centered {
    padding: 0 40px 50px;
  }
}

@media only screen and (max-width: 950px) {
  .comments-wrapper {
    flex-direction: column-reverse;

    .description {
      margin: 0 0 30px;
      width: 100%;
    }
  }

  .photo .photo-content {
    padding: 10px 0;
  }
}

@media only screen and (max-width: 700px) {
  .centered {
    padding: 0 30px 50px;
  }
}

@media only screen and (max-width: 460px) {
  .centered {
    padding: 0 10px 50px;
  }

  .photo-header {
    padding: 20px 10px;
    display: block;

    .likes {
      margin-left: 75px;
      margin-top: 10px;
    }
  }

  .author-avatar,
  .basic-info {
    display: inline-block;
  }

  .header {
    display: block;

    span,
    .header-info.edit-delete-icon,
    .header-info.likes {
      display: inline-block;
    }
  }

  .comment p {
    margin-top: 10px;
  }
}

:host ::ng-deep tag-input {
  input {
    margin-bottom: 0;
  }
}

:host ::ng-deep input-text {
  input {
    margin-bottom: 6px;
    background: none;
    border: 2px solid #e1e1e1;
    font-weight: 500;
    font-size: 25px;
    color: black;
    margin-top: -4px;
    margin-left: -4px;
  }

  input:focus {
    border-bottom: 2px solid #2196f3;
  }
}

.basic-info .submit {
  background: #f9f9f9;
  border: 1px solid #e1e1e1;
}
