<div class="centered centered-block">
  <div class="upload-centered">
    <ul class="menu-list">
      <li>
        <a
          routerLinkActive="active"
          routerLink="/settings"
          [routerLinkActiveOptions]="{ exact: true }"
          >Informations</a
        >
      </li>
      <li *ngIf="loggedIn">
        <a routerLinkActive="active" routerLink="/settings/credentials"
          >Credentials</a
        >
      </li>
    </ul>
    <h2>Edit your profile</h2>

    <!--
      <form #formEdit="ngForm" (ngSubmit)="onFormUpload(formEdit.form.value)">
    -->

    <router-outlet></router-outlet>
  </div>
</div>
<app-confirmation-message #message></app-confirmation-message>
