:host ::ng-deep input-file .file-label {
    height: 120px;
}

.upload-centered {
    max-width: 600px;
}

.input-description {
    display: block;
    margin-bottom: -15px;
}

@media only screen and (max-width: 800px) {
    .centered {
        background: #fff;
        min-height: calc(100vh - 153px);
    }
    
.upload-centered {
    box-shadow: none;
    margin: 0 auto;
}
}