<div class="message-container" #wrapper>
  <div class="wrapper">
    <div class="header">
      <span>{{ labelName }}</span>
      <span (click)="close()" tabindex="0" class="close-button">X</span>
    </div>
    <div class="content">
      <div class="item" *ngFor="let item of getData()">
        <div class="img-wrapper">
          <a routerLink="/user/{{ item.userId }}" (click)="close()">
            <img
              src="{{
                item.avatarImgLink === '' || item.avatarImgLink === null
                  ? '../../assets/img/avatar.png'
                  : item.avatarImgLink
              }}"
            />
          </a>
        </div>
        <span class="name"
          ><a routerLink="/user/{{ item.userId }}" (click)="close()">{{
            item.name
          }}</a></span
        >
        <app-follow-button
          *ngIf="item.userId !== loggedId && loggedIn"
          [idDestinateUser]="item.userId"
          [followed]="item.followed"
        ></app-follow-button>
      </div>
    </div>
  </div>
</div>
