<div class="label-wrapper">
  <label class="input-description">{{ data.label }}</label>
  <span
    *ngIf="data.editable === true && editing === false"
    (click)="startEditing()"
    >Edit</span
  >
  <select
    id="category"
    name="category"
    [ngClass]="validateMessage !== '' ? 'invalid' : null"
    [ngClass]="editing === true || data.editable !== true ? null : 'hidden'"
    type="text"
    #input
    (change)="change(this.Input.nativeElement.value)"
  >
    <option value="cat1">Cat 1</option>
    <option value="Cat 2">Cat 2</option>
    <option value="Cat 3">Cat 3</option>
    <option value="Cat 4">Cat 4</option>
  </select>
  <span
    *ngIf="data.editable === true && editing === true"
    class="reject"
    (click)="stopEditing()"
    >X</span
  >
  <!-- id="title" -->
  <div class="warning" *ngIf="this.validateMessage !== ''">
    {{ validateMessage }}
  </div>
</div>
