.image-element-wrapper {
  position: relative;
}

.edit-delete-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #c3c3c3;
  background: #e2e2e24f;
  height: 30px;
  width: 30px;
  border-radius: 15px;
}

.edit-delete-icon:hover {
  background: #bdbdbd69;
}

// .image-element .image-info h3 i {
//   color: #d2d2d2;
// }
