.image-element-wrapper {
  position: relative;
}

.edit-delete-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #000000f2;
  background: #1c1c1c4f;
  height: 30px;
  width: 30px;
  border-radius: 15px;
}

.edit-delete-icon:hover {
  background: #0707070f;
}

// .image-element .image-info h3 i {
//   color: #d2d2d2;
// }
